<ion-header>
  <ion-toolbar color="primary">
    <ion-title>iVideoclub</ion-title>
    <ion-back-button defaultHref='/autor' slot="start" text="Volver" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="film"></ion-icon>
      <ion-label>
        <h4><b>El Padrino</b></h4>
        <b>Director:</b> Francis Ford Coppola<br>
        <b>Año: </b>1972
      </ion-label>
      <ion-item-option color="white">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary">
        </ion-icon>
     </ion-item-option>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="film"></ion-icon>
      <ion-label>
        <h4><b>El Padrino parte ||</b></h4>
        <b>Director:</b> Francis Ford Coppola<br>
        <b>Año: </b>1974
      </ion-label>
      <ion-item-option color="white">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary">
        </ion-icon>
     </ion-item-option>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="film"></ion-icon>
      <ion-label>
        <h4><b>La lista de Schnider</b></h4>
        <b>Director:</b> Steven Spilberg<br>
        <b>Año: </b>1993
      </ion-label>
      <ion-item-option color="white">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary">
        </ion-icon>
     </ion-item-option>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="film"></ion-icon>
      <ion-label>
        <h4><b>Pulp Fiction</b></h4>
        <b>Director:</b> Quentin Tarantino<br>
        <b>Año: </b>1994
      </ion-label>
      <ion-item-option color="white">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary">
        </ion-icon>
     </ion-item-option>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="film"></ion-icon>
      <ion-label>
        <h4><b>Cadena Perpetua</b></h4>
        <b>Director:</b> Frank Darabont<br>
        <b>Año: </b>1994
      </ion-label>
      <ion-item-option color="white">
        <ion-icon slot="icon-only" name="arrow-forward" color="primary">
        </ion-icon>
     </ion-item-option>
    </ion-item>
  </ion-list>
</ion-content>
