<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Curriculum</ion-title>
    <ion-back-button defaultHref='/autor' slot="start" text="Volver" color="light"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <b>2010-Actualidad:</b><br>
      Profesor del Máster Universitario en <br> Desarrollo de Software para <br> Dispositivos Moviles
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <b>2010-Actualidad:</b><br>
      Profesor del Máster Universitario <br> en Desarrollo de Aplicaciones <br> y Servicios Web
    </ion-label>
  </ion-item>
  <ion-item><ion-label>
    <b>2008-2010:</b><br>
    Picateclas profesional</ion-label>
  </ion-item>
</ion-content>
